---
import Layout from "../layouts/Layout.astro";
import lawnbgm from "../assets/lawnbgm.mp3";
---

<Layout title="audio">
  <h1>audio test</h1>

  <audio autoplay>
    <source src={lawnbgm} />
    <a href={lawnbgm}>audio</a>
  </audio>
  <h1></h1>

  <h1>audio test 2</h1>
  <audio controls>
    <source src={lawnbgm} />
    <a href={lawnbgm}>audio</a>
  </audio>
  <h1></h1>

  <h1>audio test 3</h1>
  <audio>
    <source src={lawnbgm} />
    <a href={lawnbgm}>audio</a>
  </audio>

  <button><a href="/sites">go back</a></button>
</Layout>
