---
import type { Meme } from "../constants/memes";
import { Image } from "astro:assets";

export type Props = Meme;

const { title, description, img, alt, width } = Astro.props;
---

<h1>{title}</h1>
<Image src={img} {width} {alt} />
<h1>{description}</h1>
